<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  const StudentDetailApp = {
    delimiters: ['[[', ']]'],
    data() {
      return {
        csrfToken : document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        studentname: '',
        TestList: {},
        studentId: '',
      }
    },
    created() {
      console.log("created()...");
      let path = window.location.pathname; // 현재 페이지의 경로를 가져옵니다.
      if (!path.endsWith('/')) {
        path += '/';
      }
      this.studentId = path.split('/').slice(-2)[0];
      this.fetchStudentDetail(this.studentId);
    },
    methods: {
      fetchStudentDetail(studentId) {
        console.log("fetchStudentDetail()...", studentId);
        axios.get(`/api/student/${studentId}`)
          .then(res => {
            console.log("FETCH STUDENTDETAIL GET RES", res);
            this.studentname = res.data.student_name;
            // console.log("student name :", this.student_name)
            this.TestList = res.data.tests.map(test => {
              // 시험 이름(또는 설명)을 구성합니다.
              const semesterStr = test.test_semester === 1 ? "상반기" : "하반기";
              const test_name = `${test.test_year}년도 ${semesterStr} ${test.ExamGrade}학년`;
              return {
                ...test,
                test_name,  // 구성한 시험 이름을 객체에 추가합니다.
              };
            });            
            console.log("TestList : ", this.TestList)
            console.log("student name : ", this.studentname)
          })
          .catch(err => {
            console.log("FETCH STUDENTDETAIL GET ERR.RESPONSE", err.response);
            alert(`${err.response.status} ${err.response.statusText}`);
          });
      },
      submitTest() {
        console.log("submitTest() with studentId:", this.studentId);
        // studentId를 포함한 API 요청을 보내는 로직
        axios.get(`/api/report/submit/${this.studentId}/`, {})
        .then(res => {
          console.log("Submit response:", res);
          window.location.href = `/report/submit/${this.studentId}`;
          })
          .catch(err => {
            console.error("Submit error:", err.response);
            alert(`${err.response.status} ${err.response.statusText}`);
          });
      },
      navigateToReport(test){
        const year_semester = `${test.test_year}${test.test_semester}`;
        const url = `/report/result/${this.studentId}/?year_semester=${year_semester}&test_grade=${test.ExamGrade}`;

        window.location.href = url;
      },
      editTestResult(testResultId) {
        console.log("test result id : ", testResultId)
        // 시험 결과 수정 페이지로 리다이렉트
        window.location.href = `/report/result/update/${testResultId}/`;
      }
    }
  }
  Vue.createApp(StudentDetailApp).mount('#page-top');
</script>