<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  const TestSubmitApp = {
    delimiters: ['[[', ']]'],
    data() {
      return {
        csrfToken: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        ExamYearSemester: "",
        ExamGrade: "",
        region: "",
        answers: [],
        answerList: Array.from({ length: 5 }, () => Array(5).fill(null)),
        studentId: '',
      };
    },
    created() {
      console.log("created()...");
      this.studentId = location.pathname.split('/')[3];
      console.log("studentId : ", this.studentId);
    },
    methods: {
      submitForm() {
        // FormData 인스턴스 생성
        const formData = new FormData();
        
        // 데이터 추가
        formData.append('ExamYearSemester', this.ExamYearSemester);
        formData.append('ExamGrade', this.ExamGrade);
        formData.append('ExamArea', this.region);  // "region" 필드를 "ExamArea"로 매핑
        formData.append('ExamResults', JSON.stringify(this.answerList.flat()));
        formData.append('StudentId', String(this.studentId));
  
        // answerList의 모든 항목을 평탄화하여 추가
        // this.answerList.flat().forEach((answer, index) => {
        //   formData.append(`answers[${index}]`, answer);
        // });

        for (let [key, value] of formData.entries()) {
          console.log(key, value);
      }
        
        axios.post(`/api/report/result/${this.studentId}/`, formData, {
          headers: {
            'X-CSRFToken': this.csrfToken, // CSRF 토큰 헤더에 추가
            'Content-Type': 'multipart/form-data' // 중요: FormData를 사용할 때의 Content-Type
          }
        })
        .then(response => {
          console.log("Submit response:", response);
          window.location.href = `/report/result/${this.studentId}/?year_semester=${this.ExamYearSemester}&test_grade=${this.ExamGrade}`;
        })
        .catch(error => {
          console.error("Submit error:", error.response);
          alert(`${error.response.status} ${error.response.statusText}`);
        });
      }
    },
  }
  Vue.createApp(TestSubmitApp).mount('#page-top');
  </script>
  