<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  const TestListApp = {
    delimiters: ['[[', ']]'],
    data() {
      return {
        studentname: '',
        TestList: {},
      }
    },
    created() {
      console.log("created()...");
      // const studentId = location.pathname.split('/')[3]
      // this.fetchStudentDetail(studentId);
    },
    methods: {
      fetchStudentDetail(studentId) {
        console.log("fetchStudentDetail()...", studentId);
        <!-- axios.get(`/api/student/${studentId}`)
          .then(res => {
            console.log("FETCH STUDENTDETAIL GET RES", res);
            this.studentname = res.data.student_name;
            console.log("student name :", this.student_name)
            this.TestList = res.data.tests;
            console.log("TestList : ", this.TestList)
          })
          .catch(err => {
            console.log("FETCH STUDENTDETAIL GET ERR.RESPONSE", err.response);
            alert(`${err.response.status} ${err.response.statusText}`);
          }); -->
      }
    }
  }

  Vue.createApp(TestListApp).mount('#page-top');
</script>