{% extends 'base.html' %}

{% load static %}

{% block title %}학생 등록{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4 text-center">학생 등록</h1>
            <form id="testInputForm">
                <div class="mb-3">
                    <label for="studentName" class="form-label">이름을 입력하세요</label>
                    <input type="text" id="studentName" v-model="studentName"
                        class="form-control"
                        placeholder="이름" required>
                </div>
                <div class="mb-3">
                    <label for="birthdate" class="form-label">생년월일을 8자리로 입력하세요</label>
                    <input type="text" id="birthdate" v-model="birthdate" pattern="\d{8}" required
                        class="form-control"
                        placeholder="예: 19900101" title="생년월일을 8자리 숫자로 입력해주세요. 예: 19900101">
                </div>
                <div class="mb-3">
                    <label for="grade" class="form-label">학년을 선택하세요</label>
                    <select id="grade" v-model="grade" class="form-select" required>
                        <option value="" selected disabled>학년 선택</option>
                        <option value="1">초1</option>
                        <option value="2">초2</option>
                        <option value="3">초3</option>
                        <option value="4">초4</option>
                        <option value="5">초5</option>
                        <option value="6">초6</option>
                        <option value="7">중1</option>
                        <option value="8">중2</option>
                        <option value="9">중3</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="button" @click="submitForm" class="btn btn-primary">
                        등록하기
                    </button>
                    <button type="button" class="btn btn-secondary">
                        <a href="{% url 'home' %}">
                            홈으로
                        </a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra-script %}
{% include 'include/add_student_vue.html' %}
{% endblock %}
