{% extends 'base.html' %}

{% load static %}

{% block title %}student_detail.html{% endblock %}

{% block content %}
<style>
  .modal-content-custom {
    max-width: 150%;  /* 가로 크기를 1.5배로 설정 */
    height: calc(2 * 100vh);  /* 세로 크기를 2배로 설정 */
    margin: auto;  /* 중앙에 배치 */
  }

  /* "결제하러 가기" 버튼 크기 조정 */
  .btn-lg-custom {
    padding: 1rem 2rem;  /* 패딩을 크게 설정 */
    font-size: 1.25rem;  /* 글꼴 크기를 크게 설정 */
  }
</style>

<!-- Student Detail Grid-->
<div class="page-section bg-light" id="student">
  <div class="container mt-5">
    <div class="row">
      <!-- Test Lists -->
      <div>
        <!-- Test Lists header-->
        <header class="mb-4">
          <!-- Student Name -->
          <div class="row">
            <div class="col-lg-9">
              <h1 class="fw-bolder mb-1">[[ studentname ]]</h1>
            </div>
            <div class="col-lg-3 d-flex justify-content-end">
              <button class="btn btn-primary" id="button-search" type="button" @click="submitTest">
                시험 추가
              </button>
            </div>
          </div>
        </header>
        <hr>
        <!-- Test Lists Table -->
        <div class="mb-5">
          <div class="mb-3 ps-5 ms-4 fs-4 table-top-line container text-center">
            <div class="row align-items-center">
              <div class="col-1">번호</div>
              <div class="col-3">시험</div>
              <div class="col-2 ms-2">시험날짜</div>
              <div class="col-2 ms-2">보고서</div>
              <div class="col-3">수정</div>
              {% comment %} <div class="col-2">상담일</div>
              <div class="col-2">상담여부</div> {% endcomment %}
            </div>
          </div>
          <hr>
          <!--   -->
          <div v-for="(test, index) in TestList" :key="index"
            class="mt-3 mb-3 fs-5 table-top-line container text-center">
            <div class="row align-items-center justify-content-center">
              <div class="col-1">[[ index+1 ]]</div>
              <div class="col-3" @click="navigateToReport(test)">[[ test.test_name ]]</div>
              <div class="col-2">[[ test.test_date ]]</div>
              <div class="col-2">
                <button class=" btn btn-warning text-black" @click="navigateToReport(test)">보고서</button>
              </div>
              <div class="col-3">
                <button class="btn btn-info" @click="editTestResult(test.id)">시험 결과 수정</button>
              </div>
              {% comment %} <div class="col-2">[[ test.consulting_date ]]</div>
              <div class="col-2">[[ test.consulting_status ]]</div> {% endcomment %}
            </div>
            <hr>
          </div>
        </div>

        <div class="modal fade" id="paymentModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content modal-content-custom">
                  <div class="modal-header">
                      <h5 class="modal-title fs-2" id="paymentModalLabel">결제가 필요합니다</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body mt-3 fs-4">
                    <div class="modal-content-custom">
                      <p v-for="sentence in errorMessage" :key="sentence">[[ sentence ]]</p>
                      <p></p>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">취소</button>
                      <button type="button" class="btn btn-primary btn-lg m-3" @click="goToPayment">확인</button>
                  </div>
              </div>
          </div>
      </div>
        
        <!-- Test Lists footer -->
        <footer class="mb-4">
          <!-- Student Name -->
          <div class="row">
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary" id="button-search" type="button"><a
                  href="{% url 'home' %}#page-top">학생목록</a></button>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra-script %}
{% include 'include/student_detail_vue.html' %}
{% endblock %}