{% extends 'base.html' %}
{% block content %}
<h1>회원가입</h1>
<form method="post">
  {% csrf_token %}
  {% include 'users/form_errors.html' %}
  
  <p>{{ form.username.label_tag }} {{ form.username }}</p>
  <p>{{ form.email.label_tag }} {{ form.email }}</p>
  <p>{{ form.password1.label_tag }} {{ form.password1 }}</p>
  <p>{{ form.password2.label_tag }} {{ form.password2 }}</p>
  <p>{{ form.affiliation.label_tag }} {{ form.affiliation }}</p>
  <p>{{ form.region.label_tag }} {{ form.region }}</p>
  <p>{{ form.region_detail.label_tag }} {{ form.region_detail }}</p>
  
  <button type="submit">회원가입</button>
</form>
{% endblock %}
